@import "src/styles/scss/variables";
@import "src/styles/scss/breakpoints";

.booking-details-container {
  background: #ffffff;  
  margin: 60px auto;
  
  @include media-breakpoint-up(sm) {
    border-radius: 8px;
    border: 1px $color-primary solid;
    width: 80%;
  }
}

.booking-details-element {
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.3);
  padding: 20px 20px;
  display: flex;

  p {
    margin: 0;
    padding: 0;
  }

  &__header {
    font-family: "Gilroy-Bold", serif;
    color: #18191a;
  }

  &__content {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px !important;
    padding: 3px 15px !important;
    border-radius: 25px;
    font-size: 13px;
  }
}
