@import "src/styles/scss/variables";
@import "src/styles/scss/mixins";

$transition-speed: 0.3s;

.form-group {
  margin-bottom: 0.5rem !important;

  &-white {
    background-color: white;
  }

  &-default {
    background-color: $color-light;
  }

  position: relative;
  color: $color-dark;
  text-align: left;
  display: inline-block;
  width: 100%;

  label {
    color: $color-primary;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    border: 1px solid $border-color;
    padding: 0.6rem calc(5rem / 3);
    padding-left: 15px !important;
    width: 100%;
    font-size: inherit;
    color: inherit;
    background-color: $color-light;
    font-family: $font-family-regular;

    @include transition(
      border-color $transition-speed,
      color $transition-speed
    );

    & + label {
      position: absolute;
      left: calc(5rem / 4);
      top: 0.7rem;
      color: inherit;
      pointer-events: none;

      padding: {
        left: 0;
        right: 0;
      }

      z-index: auto;

      @include transition(top $transition-speed, font-size $transition-speed);
    }

    &:active,
    &:focus {
      color: $color-body-font;
      border: 1px solid $color-primary;
      outline: none;
      box-shadow: none;
    }

    &:active + label,
    &:focus + label,
    &.not-empty + label {
      z-index: 2;
      background-color: inherit;
      padding: {
        left: calc(2rem / 3);
        right: calc(2rem / 3);
      }

      left: 1rem;
      top: calc(-2rem / 3);
      font-size: 0.8rem;
    }
  }

  &.has-error {
    input {
      border-color: $color-danger;

      & + p.error-item {
        color: $color-danger;
      }
    }
  }
}

.error-messages {
  margin-bottom: 10px;

  p {
    color: $color-danger;
    font-size: 0.8rem;

    &::before {
    //   content: url(../../../assets/images/icons/error.svg);
      display: inline-block;
      margin-right: calc(1rem / 3);
    }
  }
}
